<!--
 node-auth-example - index page
 Copyright(c) 2020 Marian Kapisinsky
 MIT Licensed
-->

<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <h1>Example Application</h1>
        <p><%= content %><b><%= user %></b></p>
	<hr>
	<a href="<%= link %>"><%= linkText %></a>
    </body>
</html>
